  <div class="container_resumen">
  <h1>El trabajo diario resulto: {{{totalDiario}}}</h1>

  <div
    style="display: flex;  gap: 1rem;width: 100%;"
    class="div_container_resumen"
  >
    <div style="width: 100%;">
      <h1>Tarabajos diarios</h1>
      <table class="table table-striped table-hover">
        <thead style="background: #19b274;">
          <tr>
            <th>Cliente</th>
            <th>Modelo</th>
            <th>Telefono</th>
            <th>Precio</th>
            <th>Descripcion</th>
            <th>trabajador</th>
          </tr>
        </thead>
        <tbody>
          {{#each trabjoDiario}}
            <tr>
              <td>
                <div>
                  <a href="#">{{name}}</a>
                </div>
              </td>
              <td>{{modelo}}</td>
              <td>{{telf}}</td>
              <td>{{precio}}</td>
              <td>{{description}}</td>
              <td>{{trabajador}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
    <div style="width: 100%;">
      <h1>Pagos diario</h1>

      <table class="table table-striped table-hover">
        <thead style="background: #19b274;">
          <tr>
            <th>Descripcion</th>
            <th>Precio</th>

          </tr>
        </thead>
        <tbody>
          {{#each pagoDiario}}
            <tr>

              <td>{{description}}</td>

              <td>{{precio}}</td>

            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>

</div>