<div class="contenedor">
  <div class="img_prob">
    <img src="../img/apple/{{name}}/{{name}}{{path}}.png" />
  </div>
  <div id="pestanas">
    <ul id="lista">
      <li id="pestana1">
        <a href="javascript:cambiarPestanna(pestanas,pestana1);">Pantalla</a>
      </li>
      <li id="pestana2">
        <a href="javascript:cambiarPestanna(pestanas,pestana2);">Bateria</a>
      </li>
      <li id="pestana3">
        <a href="javascript:cambiarPestanna(pestanas,pestana3);">Placa</a>
      </li>

      <li id="pestana4">
        <a href="javascript:cambiarPestanna(pestanas,pestana4);">Reseña</a>
      </li>
      <li id="pestana5">
        <a href="javascript:cambiarPestanna(pestanas,pestana5);"
          >Fallo Tactil</a
        >
      </li>
      <li id="pestana6">
        <a href="javascript:cambiarPestanna(pestanas,pestana6);"
          >Conector de carga</a
        >
      </li>
    </ul>
  </div>
  <div id="contenidopestanas">
    <div id="cpestana1">
      <ul>
        <li>Microsoldadura</li>
        <li>Servicio tecnico</li>
        <li>Ampliacion de memoria</li>
        <li>Reparacion en general</li>
        <li>Reparacion de Consola</li>
      </ul>
    </div>
    <div id="cpestana2">
      Algunos problemas de alimentación del {{name}} son consecuencia de factores
      ajenos a la batería. Si no puedes encender el {{name}},
      <a href="https://support.apple.com/es-es/HT201412">sigue estos pasos</a>
      para ver si se soluciona el problema. Probaremos el {{name}} para ver si hay
      un problema con la batería o si presenta algún otro problema de
      alimentación. Si el {{name}} presenta otro problema de alimentación, te
      comunicaremos el precio de la reparación cuando determinemos la causa.
      Para identificar el problema y organizar el servicio, inicia una solicitud
      de reparación.
    </div>
    <div id="cpestana3">
      Un {{name}}, al igual que otro smartphone, consta de una placa base con sus
      distintos componentes electrónicos como resistencias, condensadores,
      diodos, transistores o circuitos integrados (IC), entre otros, todos
      conectados entre sí. Es como si fuese el cerebro del teléfono, lo que hace
      que funcione. Si la placa madre se avería, ¿qué reparación necesita? El
      arreglo de un fallo en la placa base lleva diferentes pasos, desde
      diagnosticar la avería hasta encontrar la solución. Por suerte, los
      esquemas electrónicos de {{name}} son accesibles y nos facilitan mucho el
      trabajo a la hora de saber qué componente se encuentra en un punto de la
      placa.
    </div>
    <div id="cpestana4">
      Los ingenieros de {{name}} Inc.|Apple]] investigaron la pantalla táctil,
      bajo la dirección del expresidente de Apple. {{name}} desarrolló el
      dispositivo con la colaboración exclusiva y sin precedentes de AT&T
      Mobility- Cingular Wireless en el momento del inicio del teléfono- con un
      costo de desarrollo de 150 millones de dólares. Durante el desarrollo del
      {{name}} el nombre clave con el que se denominó fue “purple2”, la empresa
      rechazó el diseño del comité desarrollado por Motorola.El 11 de julio de
      2008, Apple lanzó el {{name}} 3 en 22 países. El primer {{name}} 3 fue vendido
      en Auckland, Oregon , a Jonny Gladwell, pasado un minuto de la medianoche.
      En Estados Unidos, para comprar el nuevo teléfono era necesario firmar un
      contrato de 2 años con AT&T. Los primeros días muchas unidades del {{name}}
      3G fallaron por sobrecarga en los servidores Apple de iTunes. iStore etc.
    </div>
    <div id="cpestana5">
      La pantalla es todo un mundo, hay errores diversos relacionados con ella,
      estos son los más comunes que tienen que ver con averías en placa. Has
      reparado tu pantalla por un fallo táctil, pero ¿probaron con una segunda
      pantalla y nada? En este caso también es un fallo de la placa conocido
      como “Touch Disease” o “Enfermedad del táctil”. La enfermedad del táctil,
      que sucede tanto a {{name}} 6 como en el {{name}} 6 Plus, ocurre cuando deja
      de responder a las acciones sobre la pantalla y el origen de este fallo no
      es la propia pantalla. El Touch Disease ha provocado las quejas de miles
      de usuarios de Apple en todo el mundo, especialmente de aquellos que
      poseen un teléfono fabricado en 2015.
    </div>
    <div id="cpestana6">
      ¿Te ha ocurrido que has cambiado el cable y no funcionaba la carga?, ¿Lo
      has llevado a una tienda de reparación, han cambiado el conector de carga
      y la batería y aún así sigue sin cargar? En este caso tu {{name}} tiene un
      problema en la placa base, sería el IC de carga de la placa base, también
      conocido como U2 o Tristar. Los modelos más propensos son {{name}} 5, 5S,
      5C, 6, 6 plus, 6s, 6s plus, 7, 7 plus, 8 y 8 plus. Por el momento en
      {{name}} X, ni en ninguno de los nuevos modelos de 2018 y 2019 ha aparecido
      este problema, así que podéis respirar tranquilos.
    </div>
  </div>
</div>
